body {
  letter-spacing: .2px;
  background: #0d0d0d;
}

.post-tag {
  background: #242a33 !important;
}

.s-btn__primary {
  color: white !important;
}

#wmd-input {
  background: #0d0d0d !important;
}

p {
  color: #c4c4c4;
}

#content a {
  color: #ceb8a1;
}

#content .s-btn__primary {
  color: #d6dfdf;
  background-color: #e65425;
  border: 1px solid #e6542b;
}

/*.question-summary a, .question a, .answer a {
  color: #ceb8a1;
}

 .question-hyperlink, .answer-hyperlink {
  color: #ceb8a1;
}

.post-tag {
   color: #ceb8a1;
} */

#content a:hover {
  color: #c89862;
}

pre, code {
  background: #111 !important;
}

.top-bar, #content {
  background: #171717;
}

.s-sidebarwidget__yellow {
  background: #201f13 !important;
}

.answer-votes.answered-accepted {
  background: #2b774d !important;
}
