body.unified-theme,body.unified-theme * {
  --theme-link-color: #ceb8a1;
  --theme-question-title-color: #ceb8a1;
  --theme-button-color: #ceb8a1;
  --theme-button-primary-background-color: #e65425;
  letter-spacing: .2px;
  --theme-body-font-color: #c4c4c4;
   --theme-tag-color: #ceb8a1; 
}

#content a:hover {
  color: #c89862;
}


pre, code {
  background: #111 !important;
}

.s-sidebarwidget__yellow {
  background: #201f13 !important;
}

.answer-votes.answered-accepted {
  background: #2b774d !important;
}
/* stats layout common */
.s-post-summary--stats-item {
  flex-direction: column;
}
.s-post-summary--stats-item-number {
  font-size: 17px;
}

.iconCheckmarkSm {
  display: none;
}

/* stats layout om home page*/
.home-page .s-post-summary--stats {
  flex-direction: row;
  align-items: flex-start;
  width: 156px;
}

.tagged-questions-page .s-post-summary--stats {
  align-items: center;
}

.tagged-questions-page .s-post-summary--stats-item:nth-child(3) {
  flex-direction: row;
}

.tagged-questions-page .s-post-summary--stats-item:nth-child(3) span {
  font-size: 13px;
}

.post-tag.s-tag__watched {
  background-color: var(--theme-tag-background-color);
}

#wmd-input {
  background: #0d0d0d !important;
}