body {
  background-color: #141422;
  color: #d0d0d2;
}

.sidebar--content---4z0-, .sidebar--header--1C0Qx {
  background-color: #141422;
}

.curriculum-item-link--curriculum-item--KX9MD>.item-link {
  color: #d0d0d2;
}

.curriculum-item-link--curriculum-item--KX9MD.curriculum-item-link--is-current--31BPo>.item-link {
  background-color: #262633;
}

.udlite-in-udheavy {
  color: #d0d0d2;
}
